.btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 700;

  @include media(">=phone", "<tablet") {
    font-size: 14px;
  }

  &--primary {
  }

  &--secondary {
  }

  &--gradient {
  }
}
