.features {
  .section__title {
    text-align: center;
    margin-bottom: -100px;

    @include media(">=phone", "<tablet") {
      font-size: 28px; // only for mobile devices
      margin-bottom: auto;
    }
  }

  .section__content {
    @include flex(row, space-between, center);
    margin-right: calc(-68vw + 45%);

    @include media(">=phone", "<tablet") {
      @include flex(column-reverse, flex-start, center);
      margin-right: auto;
    }
  }

  .features__img {
    width: 65%;

    @include media(">=phone", "<tablet") {
      width: 100%;
    }
  }

  .feature {
    width: 540px;

    @include media(">=phone", "<tablet") {
      width: 100%;
      @include flex(column, center, center);
    }

    &__title {
      @include media(">=phone", "<tablet") {
        text-align: center;
        width: 275px;
      }
    }

    &__desc {
      @include media(">=phone", "<tablet") {
        text-align: center;
      }
    }
  }
}
