.footer {
  background-color: $veryDarkBlackBlue;
  border-top-right-radius: 100px;

  .columns {
    @include flex(row, space-between, flex-start);

    @include media(">=phone", "<tablet") {
      @include flex(column, center, center);
    }
  }

  .column {
    &__title {
      display: block;
      color: $white;
      font-weight: 600;

      @include media(">=phone", "<tablet") {
        text-align: center;
        font-size: 18px;
      }
    }
  }

  .nav__item {
    a {
      color: $grayishBlue;
    }

    @include media(">=phone", "<tablet") {
      text-align: center;
      font-size: 18px;
    }
  }
}
