.hero {
  background-image: url("/images/hero-bg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom-left-radius: 100px;
  @include flex(column, center, center);
  @include media(">=phone", "<tablet") {
    background-image: url("/images/hero-bg-mobile.svg");
  }

  .container {
    @include flex(column, center, center);
  }

  &__title {
    color: #fff;

    @include media(">=phone", "<tablet") {
      text-align: center;
      max-width: 300px;
    }
  }

  &__desc {
    color: #fff;

    @include media(">=phone", "<tablet") {
      text-align: center;
    }
  }

  .btn__group {
    @include flex(row, space-between, center);
  }
}
