@include media(">tablet") {
  .mobile-header {
    display: none;
  }
}

.mobile-header {
  position: absolute;
  width: 100%;

  .container {
    @include flex(column, space-between, center);
  }

  .fas {
    color: $lightRed;
    font-size: 10px;
  }

  .nav__bar {
    width: 100%;
    @include flex(row, space-between, center);
  }

  .nav__item {
    a {
      color: $veryDarkBlue;
    }
  }

  .nav {
    width: 100%;
    display: none;
  }

  .nav__block {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    @include flex(column, center, center);
    text-align: center;

    padding: 50px 25px;

    ul {
      width: 100%;
    }
  }

  .dropdown {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
  }

  .active--inner {
    display: block !important;
  }

  .dropdown__items {
    display: none;
    padding: 25px 0px;
    border-radius: 10px;
    background-color: #eeeef0;
  }

  .active {
    color: $veryDarkBlackBlue;

    .fas {
      transform: rotate(180deg);
    }
  }

  @include media(">=phone", "<tablet") {
    .sign-up,
    .login {
      a {
        font-size: 18px !important;
      }
    }


  }
}
